html {
  font-family: Arial;
  height: 100%;
}

header{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.container-logo{
  display: flex;
  align-items: center;
}

.logo-texto{
  margin-left: 10px;
  font-size: 25px;
}

img.linkedin{
  cursor: pointer;
}

img.github{
  cursor: pointer;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(5deg, black, rgb(255, 255, 255));
}

ul {
  border-top: 1px solid #ddd;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  padding: 2px;
  text-align: center;
  margin-top: 20px;
}

ul > li {
  font-size: 0.9rem;
  display: inline-block;
  border: 3px solid rgb(10, 10, 10);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  margin: 5px;
  height: 130px;
  width: 130px;
  cursor: pointer;
  vertical-align: top;
}

ul > li.selected {
  background-color: rgb(240, 230, 97);
  height: 150px;
  width: 150px;
}

.rodape{
  font-size: 18px;
  font-family: Arial;
  color: white;
  text-align: center;
  margin-top: 15%;
}


#formLivro {
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: rgb(253, 253, 253);
}


#formLivro > * {
  padding: 5px 5px;
}

input[type="number"] {
  width: 60px;
}


#errors:not(:empty) {
  padding: 15px;
  font-size: 1rem;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgb(253, 27, 27);
}

#telaLogin {
  max-width: 500px;
  margin: 5rem auto;
  text-align: left;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
}

#telaLogin h1 {
  transform: translate( -2%, -50%);
}

.inputLogin{
  font-size: 20px;
}

.botoesLogin{
  transform: translate( 1%, 50%);
}

#telaLogin label {
  display: block;
  margin: 1rem;
}


.botoes{
  cursor: pointer;
}

#botoesLivros{
  align-items: center;
  text-align: center;
}